<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background:#ddd;
            margin: 20px;
            display:inline-block;

        }
    </style>
</head>
<body>
    <h1>
        khalatni vue :(
    </h1>

    <div id="app">
    <button @click="toggle">
        <!-- v-if takes out the element out of the dom completely when condition is not met  -->
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
    </button>
    <div v-if="showBooks">
        <ul>
            <li v-for="book in books">
                <p>
                    {{book.title}}- {{book.author}}
                </p>
                <img :src="book.img" alt="">
            </li>
        </ul>
    </div>
    <!-- v-show toggles css display between 'block' and 'none' -->

    <!-- v-show has better performance -->
    <div v-show="showBooks">Currently showing books</div>
    <div v-show="!showBooks">Currently hiding books</div>
    <br>

    <a :href="url">google</a>
    <script src="app.js"></script>
</body>
</html>